<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.universaltransmitter2"
          tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            tools:ignore="ManifestOrder"/>
    <uses-permission
            android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@android:drawable/ic_menu_save"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.UniversalTransmitter2"
            android:usesCleartextTraffic="true"
            tools:ignore="AllowBackup">
        <activity
                android:name=".HistoryConfig"
                android:exported="true"/>
        <activity
                android:name=".ImportConfig"
                android:exported="true"/>
        <activity
                android:name=".ExportConfig"
                android:exported="true"/>
        <activity
                android:name=".Config"
                android:exported="true"/>
        <activity
                android:name=".FilleUp"
                android:exported="true"/>
        <activity
                android:name=".NfcTag"
                android:exported="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Geolocation"
                android:exported="true"/>
        <activity
                android:name=".Download"
                android:exported="true"/>
        <activity
                android:name=".ZipFile"
                android:exported="true"/>
        <activity
                android:name=".Camera"
                android:exported="true"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.UniversalTransmitter2.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>